<!--
<div class="card bg-light">
    <div class="card-header">Profile</div>
    <div class="card-body" >

        <img *ngIf="user.avatar" [src]="user.avatar" alt="User avatar" class="img-thumbnail rounded float-left"
            style="max-width: 25%;">
        <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
            alt="User has no avatar" class="img-thumbnail rounded float-left" style="max-width: 25%;">

        <ul class="list-group">

            <li class="list-group-item">{{user.username}}</li>

            <li *ngIf="user.name" class="list-group-item">{{user.name}}</li>
            <li *ngIf="user.surname" class="list-group-item">{{user.surname}}</li>
            <li *ngIf="user.email" class="list-group-item">{{user.email}}</li>

            <li class="list-group-item">{{user.createdAt | date: 'dd/MM/yyyy'}}</li>
            <div class="list-group-item"><span class="float-right">Following:{{userFollowing.length}}</span> <span class="float-left">Followers:{{userFollowed.length}}</span>
            </div>
        </ul>

    </div>
-->


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg" class="img-responsive" alt="">
					<img *ngIf="user.avatar" [src]="user.avatar" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.username}}
					</div>
					<div class="profile-usertitle-job">
						{{user.email}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div class="card" *ngFor="let post of postsOfUser.posts">
					{{ post.title }}
				</div>
            </div>
		</div>
	</div>
</div>