<!--
<div class="card bg-light">
    <div class="card-header">Profile</div>
    <div class="card-body" >

        <img *ngIf="user.avatar" [src]="user.avatar" alt="User avatar" class="img-thumbnail rounded float-left"
            style="max-width: 25%;">
        <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
            alt="User has no avatar" class="img-thumbnail rounded float-left" style="max-width: 25%;">

        <ul class="list-group">

            <li class="list-group-item">{{user.username}}</li>

            <li *ngIf="user.name" class="list-group-item">{{user.name}}</li>
            <li *ngIf="user.surname" class="list-group-item">{{user.surname}}</li>
            <li *ngIf="user.email" class="list-group-item">{{user.email}}</li>

            <li class="list-group-item">{{user.createdAt | date: 'dd/MM/yyyy'}}</li>
            <div class="list-group-item"><span class="float-right">Following:{{userFollowing.length}}</span> <span class="float-left">Followers:{{userFollowed.length}}</span>
            </div>
        </ul>

    </div>
-->


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg" class="img-responsive" alt="">
					<img *ngIf="user.avatar" [src]="user.avatar" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.username}}
					</div>
					<div class="profile-usertitle-job">
						{{user.email}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div *ngIf="!getLoggedUsername()" class="profile-userbuttons">
					<button (click)="followUser()" type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">
						<i class="glyphicon glyphicon-envelope"></i></button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						Posts
						<li [className]="getMenuItem() === 'postList' ? 'active' : 'inactive'">
							<a [routerLink]="'/user/' + username + '/postList'">
							<i class="glyphicon glyphicon-th-list"></i>
							Posts </a>
						</li>
						<li [className]="getMenuItem() === 'postsLiked' ? 'active' : 'inactive'">
							<a [routerLink]="'/user/' + username + '/postsLiked'">
							<i class="glyphicon glyphicon-thumbs-up"></i>
							Liked  </a>
						</li>
						<li [className]="getMenuItem() === 'postsDisliked' ? 'active' : 'inactive'">
							<a [routerLink]="'/user/' + username + '/postsDisliked'">
							<i class="glyphicon glyphicon-thumbs-down"></i>
							Disliked  </a>
						</li>	
						
						Comments					
						<li [className]="getMenuItem() === 'commentList' ? 'active' : 'inactive'"> 
							<a  [routerLink]="'/user/' + username + '/commentList'">
							<i class="glyphicon glyphicon-comment"></i>
							Comments </a>
						</li>
						<li  [className]="getMenuItem() === 'commentsLiked' ? 'active' : 'inactive'">
							<a [routerLink]="'/user/' + username + '/commentsLiked'">
							<i class="glyphicon glyphicon-thumbs-up"></i>
							Liked  </a>
						</li>
						<li  [className]="getMenuItem() === 'commentsDisliked' ? 'active' : 'inactive'">
							<a [routerLink]="'/user/' + username + '/commentsDisliked'">
							<i class="glyphicon glyphicon-thumbs-down"></i>
							Disliked  </a>
						</li>	
						Follow					
						<li [className]="getMenuItem() === 'following' ? 'active' : 'inactive'"> 
							<a  [routerLink]="'/user/' + username + '/following'">
							<i class="glyphicon glyphicon-user"></i>
							Following </a>
						</li>			
						<li [className]="getMenuItem() === 'followers' ? 'active' : 'inactive'"> 
							<a  [routerLink]="'/user/' + username + '/followers'">
							<i class="glyphicon glyphicon-user"></i>
							Followers </a>
						</li>

						Settings
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		
		<div class="col-md-9">
			<app-post-user-list *ngIf="getMenuItem() === 'postList'"></app-post-user-list>
			<app-post-user-list *ngIf="getMenuItem() === 'postsLiked'"></app-post-user-list>
			<app-post-user-list *ngIf="getMenuItem() === 'postsDisliked'"></app-post-user-list>

			<app-comment-user-list *ngIf="getMenuItem() === 'commentList'"></app-comment-user-list>
			<app-comment-user-list *ngIf="getMenuItem() === 'commentsLiked'"></app-comment-user-list>
			<app-comment-user-list *ngIf="getMenuItem() === 'commentsDisliked'"></app-comment-user-list>

			
			<app-following *ngIf="getMenuItem() === 'following'"></app-following>
			<app-followers *ngIf="getMenuItem() === 'followers'"></app-followers>
		</div>

	</div>
</div>