<div class="searchContainer">
  <input (keyup)="changedContentSearchBar($event.target.value)" (focusin)="changedContentSearchBar($event.target.value)"
    (focusout)="cleanSearchBar()" type="text" />
  <div id="searchPanel" *ngIf="hide===false">
    <div *ngIf="searchUser.listUsersMatch.length > 0" class="headerSearchList">Users</div>
    <div *ngIf="searchUser.listUsersMatch.length == 0 and contentSize > 0 " class="headerSearchList">No users found
    </div>


    <div class="userPart">
      <div *ngFor="let user of searchUser.listUsersMatch">
        <div class="container" [routerLink]="'/user/' + user.username">
          <div class="col-4 searchAvatar">
            <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
              class="avatarImageToolbar " alt="">
            <img *ngIf="user.avatar" [src]="user.avatar" class="avatarImageToolbar  " alt="">
          </div>
          <div class="col-8 searchText">
            <span class="nameSurname">{{user.name}} {{user.surname}}</span>
            <br>
            <span class="username">@{{user.username}}</span>
          </div>

        </div>
      </div>
    </div>

    <div class="hashtagPart">
      <div *ngIf="searchHashtag.listHashtagMatch.length > 0" class="headerSearchList">Hashtags</div>
      <div *ngIf="searchHashtag.listHashtagMatch.length == 0 and contentSize > 0 " class="headerSearchList">No hashtags
        found</div>
      <div *ngFor="let hashtag of searchHashtag.listHashtagMatch">
        <div class="container" [routerLink]="'/hashtag/' + hashtag.name">
          <div class="col-8 searchText">

            <span class="hashtag">#{{hashtag.name}}</span>
          </div>

        </div>
      </div>
    </div>






  </div>
</div>