.leftSideBar{
    /*
    position:fixed;       
    width:200px;
    */
    overflow-y: auto;
    z-index:99;
}

.leftSideBarPlaceholder{
    height:1px;
    width:100%;
    
    position:fixed;  
    margin:0px;
}




.image-circle{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 4px solid black;
    margin-top: -30px;
    margin-bottom:10px;
}

.subImage{
    margin-bottom:    10px;
}



.userBar{
    
    margin-bottom:30px;
    margin-left:0px;
    margin-right:0px;
    
    border:1px solid black;
}
.leftSideBar{

    border-radius:15px 15px 0px 0px;
}

.leftSideBar .row{
    margin-right: none;
    margin-left: none;
}

.userBar .header{
    background-color:green;
    background-image:url('https://images.ctfassets.net/hrltx12pl8hq/5KiKmVEsCQPMNrbOE6w0Ot/341c573752bf35cb969e21fcd279d3f9/hero-img_copy.jpg?fit=fill&w=800&h=300');
    height:50px;
    width:100%;
}
.followingFollowers{
    border-top:1px solid black;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
}
.followingFollowers div:first-child{
    
    
}
.postNumber{
    
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    border-top:1px solid black;
    width:100%;
}


.trendingOrder{

    font-size: 10px;
    color:grey;
}

.trendingName{
    font-weight: bold;
    font-size: 15px;
}
.trending li{
    border:0px solid black !important;
}
.trending a:hover{
    text-decoration:none;
}
.trendingQuickpostCount{
    font-size: 10px;
    font-style:oblique;
    color:grey;
}

.userBar{
    background-color:white;
}