<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
    height="50px" />
<!--
    FrontBloogt
    -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
      
          <app-search-bar></app-search-bar>

          
    </form>

  
    <ul class="navbar-nav mr-auto">

      

    </ul>



    
    <ul class="navbar-nav ">

      

      <li *ngIf="userToken.isUserLogged()" class="nav-item">
        <a [routerLink]="'/chat'" class="nav-link">
          <i [ngClass]="{'unreadIcon' : unreadMessages.unreadMessages !== 0}" class="fa fa-envelope-o">
            <span class="badge badge-danger">{{unreadMessages.unreadMessages}}</span>
          </i>
          Messages
        </a>
      </li>
      <li  *ngIf="userToken.isUserLogged()" class="nav-item">
        <a [routerLink]="'/notifications'" class="nav-link" >
          <i  [ngClass]="{'unreadIcon' : unreadNotifications.notificationCount !== 0}" class="fa fa-bell">
            <span class="badge badge-info">{{unreadNotifications.notificationCount}}</span>
          </i>
          Notifications
        </a>
      </li>
      <li *ngIf="userToken.isUserLogged()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          
          <i class="fa ">

            <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
            class="avatarImageToolbar" alt="">
          <img *ngIf="user.avatar" [src]="user.avatar" class="avatarImageToolbar" alt="">


          </i>
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          <button *ngIf="userToken.isUserLogged()" class="btn btn-secondary btn-lg btn-block"
          (click)="logout()">Logout</button>
        </div>
      </li>

        <li *ngIf="!userToken.isUserLogged()">

<button [routerLink]="'/registration'" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
          Sign up 
</button>

        </li>

        <li  *ngIf="!userToken.isUserLogged()" class="dropdown ">
          <button  data-toggle="dropdown"mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">  
            Sign in 
          </button>

          <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <app-login></app-login>
                </div>
              </div>
            </li>
          </ul>
        </li>
      
    
        

    </ul>

  </div>
</nav>


<div class="placeholderHeader"></div>