<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
    height="50px" />
<!--
    FrontBloogt
    -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <app-search-bar></app-search-bar>
      <!--
      ddd
      <div *ngFor="let user of searchUser.listUsersMatch">
{{user.id}}
      </div>
      


<mat-form-field class="example-full-width">
  <mat-label>State</mat-label>
  <input matInput
         aria-label="State"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of searchUser | async" [value]="state.username">
      <img class="example-option-img" aria-hidden [src]="state.avatar" height="25">
      <span>{{state.id}}</span> |
      <small>Population: {{state.username}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
-->
<!--
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
-->
    </form>

  
    <ul class="navbar-nav mr-auto">

  <!--

      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">11</span>
          </i>
          Disabled
        </a>
      </li>
    
  -->

    </ul>



    
    <ul class="navbar-nav ">

      <!--
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
-->

      <li *ngIf="userToken.isUserLogged()" class="nav-item">
        <a [routerLink]="'/chat'" class="nav-link">
          <i [ngClass]="{'unreadIcon' : unreadMessages.unreadMessages !== 0}" class="fa fa-envelope-o">
            <span class="badge badge-danger">{{unreadMessages.unreadMessages}}</span>
          </i>
          Messages
        </a>
      </li>
      <li  *ngIf="userToken.isUserLogged()" class="nav-item">
        <a [routerLink]="'/notifications'" class="nav-link" >
          <i  [ngClass]="{'unreadIcon' : unreadNotifications.notificationCount !== 0}" class="fa fa-bell">
            <span class="badge badge-info">{{unreadNotifications.notificationCount}}</span>
          </i>
          Notifications
        </a>
      </li>
      <li *ngIf="userToken.isUserLogged()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          
          <i class="fa ">

            <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
            class="avatarImageToolbar" alt="">
          <img *ngIf="user.avatar" [src]="user.avatar" class="avatarImageToolbar" alt="">


          </i>
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          <button *ngIf="userToken.isUserLogged()" class="btn btn-secondary btn-lg btn-block"
          (click)="logout()">Logout</button>
        </div>
      </li>

        <li *ngIf="!userToken.isUserLogged()">

<button [routerLink]="'/registration'" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
          Sign up 
</button>

        </li>

        <li  *ngIf="!userToken.isUserLogged()" class="dropdown ">
          <button  data-toggle="dropdown"mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">  
            Sign in 
          </button>

          <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <app-login></app-login>
                </div>
              </div>
            </li>
          </ul>
        </li>
      
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-globe">
            <span class="badge badge-success">11</span>
          </i>
          Test
        </a>
      </li>
-->

    </ul>

  </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light fixedHeader">
  <div id="DivNavbar" class="container-fluid">
    <a class="navbar-brand" href="#">

      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
        height="50px" />

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>

      <ul *ngIf="!userToken.isUserLogged()" class="nav navbar-nav navbar-right buttonsSign">
          <li >

<button [routerLink]="'/registration'" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
            Sign up 
</button>

          </li>

          <li class="dropdown ">
            <button  data-toggle="dropdown"mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">  
              Sign in 
            </button>

            <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <app-login></app-login>
                  </div>
                </div>
              </li>
            </ul>
          </li>
      </ul>
      
      
      <ul *ngIf="userToken.isUserLogged()" class="nav navbar-nav navbar-right ">
        <li>
          <div class="headerEnvelope" [routerLink]="'/chat'">
            <button mat-raised-button color="primary"
            [matBadge]="unreadMessages.unreadMessages" matBadgePosition="before" matBadgeColor="accent">
            <i class="glyphicon glyphicon glyphicon-envelope"></i>
          
          </button>

          </div>
        </li>
        <li class="dropdown ">
          <span class="btn btn-secondary btn-lg" data-toggle="dropdown">
            Logged as : {{ userToken.getLoggedUser() }} <span class="caret"></span>
          </span>
          <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="row">
                <div class="col-md-12">
                  <app-profile></app-profile>

                  <button *ngIf="userToken.isUserLogged()" class="btn btn-secondary btn-lg btn-block"
                    (click)="logout()">Logout</button>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>

      <div *ngIf="userToken.isUserLogged()">
        <img *ngIf="!user.avatar" src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg"
          class="avatarImageHeader" alt="">
        <img *ngIf="user.avatar" [src]="user.avatar" class="avatarImageHeader" alt="">
      </div>
      <div id="loginHeader">
      </div>


    </div>
  </div>
</nav>

-->
<div class="placeholderHeader"></div>