<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span>
            </div>
          </div>
        </div>
        <div class="inbox_chat">






          <div class=" border" *ngFor="let chat of userChats ; first as isFirst">
            <div *ngFor="let user of chat.usersInvolved">
              <div *ngIf="getLoggedUser(user.username) === false">
                <div [routerLink]="'/chat/' + chat.id" (click)="changeActualChat(chat.id)">

                  <div  [className]="isUnread(chat.unreadMessagesEachUser) ? 'chat_list active_chat' : 'chat_list'">
                    

                    <div class="chat_people">
                      <div class="chat_img">

                        <img *ngIf="!user.avatar"
                          src="https://i.pinimg.com/474x/5d/cf/02/5dcf02265a260bb0902c1ec504d1743b.jpg">
                        <img *ngIf="user.avatar" [src]="user.avatar" alt="">

                      </div>

                      <div class="chat_ib">
                        <h5>{{ user.username }} </h5><h6>{{ user.name }} {{ user.surname }}</h6>
                        <span class="chat_date"
                            [innerHTML]="chat.lastMessageDate | GetTimeAgoOfDate"></span>
                        <p>{{ chat.lastMessage.message }}</p>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">


          <div *ngFor="let message of actualChat.messages ;  let i = index; ">
            
            <div [className]="!getLoggedUser(message.author.username) ? 'incoming_msg' : 'outgoing_msg'">
              <div *ngIf="!getLoggedUser(message.author.username)" class="incoming_msg_img">
                <img
                  *ngIf="shouldBeTogether(message.lastMessageDate,actualChat.messages[i-1]?.lastMessageDate,message.author.username,actualChat.messages[i-1]?.author.username)"
                  src="https://ptetutorials.com/images/user-profile.png">
              </div>
              <div [className]="!getLoggedUser(message.author.username) ? 'received_msg' : 'sent_msg'">
                <div
                  *ngIf="shouldBeTogether(message.lastMessageDate,actualChat.messages[i-1]?.lastMessageDate,message.author.username,actualChat.messages[i-1]?.author.username)">
                  <h4>{{message.author.username}}</h4>
                </div>
                <div class="received_withd_msg">
                  <p>{{message.message}}</p>
                  <span *ngIf="shouldBeTogether(message.lastMessageDate,actualChat.messages[i+1]?.lastMessageDate,message.author.username,actualChat.messages[i+1]?.author.username)" class="time_date"> {{message.lastMessageDate | GetTimeAgoOfDate}}</span>
                </div>
              </div>
            </div>

          </div>




        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form [formGroup]="newMessage">
                <input type="text" formControlName="message" class="write_msg" placeholder="Type a message" />
                <button (click)="newMessageChat()" type="submit" class="msg_send_btn" type="button">
                  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                </button>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>