.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar{
    padding: .0rem 0rem !important;
}

#DivNavbar{
    padding-right:0px;
}

.avatarImageHeader{
    border-radius: 50% !important;
    height:75px;
    width: 75px;
}

.buttonsSign li{
    margin:5px;
}