<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="DivNavbar" class="container-fluid">
    <a class="navbar-brand" href="#">
      
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" height="50px"/>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        
      </form>




      <ul *ngIf="!userToken.isUserLogged()" class="nav navbar-nav navbar-right ">
        <!--
        <li><p class="navbar-text">Already have an account?</p></li>
-->
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown">            
            <div *ngIf="!userToken.isUserLogged()" class="btn btn-primary btn-lg">Sign in <span class="caret"></span></div>
         <!--   <b>Login</b> <span class="caret"></span> -->
          </a>
            <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
              <li>
                <div class="row">
                    <div class="col-md-12">                      
                        <app-login></app-login>
                    </div>
                </div>
              </li>
            </ul>
        </li>
      </ul>


      <div id="loginHeader">
        <button *ngIf="userToken.isUserLogged()" class="btn btn-primary btn-lg" (click)="logout()">Logout</button>
        

      </div>
    </div>
  </div>
  </nav>
  