/* You can add global styles to this file, and also import other style files */
footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
	padding-top: 20px;
}


html, body { height: 100%; }

#Wrapper { 
	margin: 0 auto; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
/*
	width:1270px;
	*/
}
html {
}

body{
	

	background: url("https://wallpaperaccess.com/full/3200191.jpg") no-repeat center center fixed; 
	
	background-color:#555;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body a{
	text-decoration:none;
}
body a:hover{
	text-decoration:none;
	color:inherit;
}

#SidebarRightBar{
	position:fixed;
	right:0px;
}

#SidebarLeftBar{
	position:fixed;
	left:0px;
}

#content-section{
	/*
	margin:0 auto;

	margin-left:250px;
	margin-right:250px;
	*/
	position:inherit;
}

